#PYTHON DATA STRUCTURE

Q1. What are data structures, and why they are important?

- Data structures are ways of organizing and storing data in a computer so that it can be accessed and modified efficiently. Choosing the right data structure improves the performance of programs (time and space complexity).Efficient structures allow applications to handle large datasets.
Understanding data structures is fundamental for anyone working in computer science, software engineering, data science, or any field involving programming or large-scale data processing.

Q2. Explain the difference between mutable and immutable data types with examples.

- Mutable objects can be changed after they are created. This means you can modify, add, or remove elements without creating a new object.Ex.List,Dict(Dictionery),set,bytearray.
Immutable objects cannot be changed after they are created. Any modification results in a new object.Ex.Int,float,string,tuple,etc

Q3. What are the main differences between lists and tuples with python?

- In Python, lists and tuples are both sequence data types that can store multiple items. However, they have key differences that affect how and when you should use each.

‚úÖ Use List when:
*You need to add, remove, or modify elements.
*The data is dynamic or likely to change.

‚úÖ Use Tuple when:
*The data is fixed (like coordinates, dates).
*You need to ensure data integrity.
*You want to use it as a dictionary key or store it in a set.

Q4.Describe how dictioneries stores data.

- A dictionary in Python is a built-in hash table data structure that stores key-value pairs.ython dictionaries are powerful, efficient, and a fundamental part of almost every program.Ex.Hashing the key,indexing,storing.

Q5. Why might you use a set instead of a list in python?

- You might choose a set over a list in Python for several important reasons‚Äîespecially when working with unique values and fast membership checks.
Use a list when order matters or duplicates are meaningful.

Q6. What is a string in python, and how is it different from a list?

- A string in Python is a sequence of characters enclosed in single (') or double (") quotes.Both strings and lists are sequential data types, but they serve very different purposes based on the kind of data you're working with.
*Use a string when working with text, sentences, or characters.
*Use a list when dealing with a collection of items that may change (e.g., numbers, objects, mixed data types).

Q7. How do tuples ensure data integrity in python?

- Tuples in Python are designed to be immutable, which is key to how they help ensure data integrity.Use tuples when you want guaranteed fixed, unchangeable data‚Äîespecially for configurations, coordinates, keys, or other data that must remain stable and trusted throughout your program.

Q8. What is a hash table, and how does it relate to dictionaries in python?

- A hash table is a data structure that stores data in an associative way‚Äîmeaning you access values by a key rather than an index (like in a list or array).
A Python dict is implemented using a hash table under the hood.
*Keys must be immutable (e.g., strings, numbers, tuples).
*Keys must be hashable (__hash__() method must return a stable integer).

Q9. Can lists contain different data types in python?

- Python lists are heterogeneous, meaning they can store mixed data types in a single list. This is possible because Python is a dynamically typed language‚Äîeach element in the list is just a reference to an object in memory.
List contain like as Integer,string,float,boolean

Q10. Explain why strings are immutable in python.

- In Python, strings are immutable, meaning once a string is created, it cannot be changed. Any operation that modifies a string actually returns a new string object.
Immutability is a design choice in Python that trades flexibility for performance, safety, and reliability‚Äîall of which are essential for writing clean, efficient, and bug-resistant code.

Q11. What advantages do dictionaries offer over lists for certain tasks?

- Dictionaries (dict) and lists (list) are both powerful in Python‚Äîbut they serve different purposes. For certain tasks, dictionaries offer key advantages over lists, especially when fast, key-based access is needed.
Ex.Lookup data by a unique identifier, Count frequencies (e.g., word count),Store config/settings,Represent mappings (user ‚Üí email, etc.).

Q12. Describe a scenario where using a tuple would be preferable over a list.

- A tuple is ideal when you want to store a fixed collection of values that should not be changed. One common and practical scenario is:-
Let‚Äôs say you‚Äôre writing a function to fetch a user's profile from a database, and you want to return the user‚Äôs name, age, and country.
When Using a Tuple Is Preferable Over a ListS

Q13. How do sets handle duplicate values in python?

- In Python, sets automatically remove duplicates.
They are unordered collections of unique elements.If you add a duplicate value to a set, it is silently ignored‚Äîthe set keeps only one instance of each unique value.

Q14. How does the "in"keyword work differently for lists and dictionaries?

- The in keyword is used to check for membership‚Äîbut it behaves differently depending on the data structure.
 **‚úÖ In a List: Checks for Values**
python
my_list = [10, 20, 30]

print(20 in my_list)   # ‚úÖ True: 20 is an element
print(40 in my_list)   # ‚ùå False: 40 is not in the list

- **In a Dictionary: Checks for Keys Only**
  my_dict = {"a": 1, "b": 2}

print("a" in my_dict)      # ‚úÖ True: "a" is a key
print(1 in my_dict)        # ‚ùå False: values are not checked
    in checks whether the key exists, not the value.
  Time complexity: O(1) average case ‚Äî uses a hash table for fast lookup.

Q15. Can you modify the elements of a tuple?Explain why or why not.

- No, you cannot modify the elements of a tuple.
Tuples are immutable in Python, which means once a tuple is created, its contents cannot be changed‚Äîyou can't add, remove, or alter its elements.

**Why Tuples Are Immutable**

| Reason                | Explanation                                                                             |
| --------------------- | --------------------------------------------------------------------------------------- |
| üîí **Data Integrity** | Prevents accidental changes to important data                                           |
| üß† **Predictability** | Makes functions and data structures using tuples easier to reason about                 |
| ‚ö° **Performance**     | Tuples are more memory- and speed-efficient than lists                                  |
| üß© **Hashability**    | Tuples can be used as **dictionary keys** and in **sets** if all elements are immutable |


**Special Case: Mutable Objects Inside Tuples**
While the tuple itself is immutable, it can contain mutable elements (like lists or dictionaries) that can be changed:

python
Copy
Edit
t = (1, [2, 3], 4)
t[1][0] = 99
print(t)  # Output: (1, [99, 3], 4) ‚úÖ

| Property              | Tuple                                                           |
| --------------------- | --------------------------------------------------------------- |
| Can be modified?      | ‚ùå No                                                            |
| Fixed size?           | ‚úÖ Yes                                                           |
| Can contain mutables? | ‚úÖ Yes, but the container remains fixed                          |
| Use case              | Safe, fixed data (e.g., coordinates, settings, dictionary keys) |

Q16. What is a nested dictionary,and give an example of its use case?

- A nested dictionary is a dictionary inside another dictionary.
It allows you to store hierarchical or structured data‚Äîlike a tree or a JSON object.
  **Example of a Nested Dictionary**
    
    students = {
    "Alice": {
        "age": 25,
        "grades": {"math": 90, "science": 85}
    },
    "Bob": {
        "age": 22,
        "grades": {"math": 78, "science": 80}
    }
}

  The outer dictionary uses student names as keys.

The inner dictionary stores personal details and grades.

Q17. Describe the time complexityof accessing elements in a dictionary.

- In Python, dictionaries are implemented using hash tables, which makes them extremely efficient for key-based operations.
   **Accessing an Element by Key**
    
    my_dict = {"name": "Alice", "age": 30}
      print(my_dict["age"])  # Output: 30

       This operation accesses the value associated with the key "age".

Q18. In what situations are lists preferred over dictionaries?

- While dictionaries are great for key-based access, lists are better suited for situations where you care about order, indexing, or duplicates.
  Use a list when:

    You care about order and position

    You don‚Äôt need to name your items

    You need duplicates

   You want to iterate or sort easily

Q19. Why are dictionaries considered unordered, and how does that effect data retrival?

- Traditional View: Dictionaries Are Unordered
Before Python 3.7, dictionaries were considered unordered collections.
This means:

  The insertion order of key-value pairs was not guaranteed.

  You couldn‚Äôt rely on getting items back in the same order you added them.

  **How It Affects Data Retrieval**
  

  | Feature                  | Effect in Dictionaries                              |
| ------------------------ | --------------------------------------------------- |
| Access by position/index | ‚ùå Not possible                                      |
| Access by key            | ‚úÖ Very fast (O(1) average time)                     |
| Order of items           | ‚úÖ Preserved in Python 3.7+, but not used for access |
| Looping over keys/values | ‚úÖ Will follow insertion order (modern versions)     |

Q20. Explain the difference between a list and a dictionary in terms of data retrieval.

- Both lists and dictionaries store collections of data, but the way you access (retrieve) elements from them is fundamentally different.

  * **List: Retrieval by Index (Position-Based) **
python
Copy
Edit
   
   fruits = ["apple", "banana", "cherry"]

   print(fruits[1])  # Output: "banana"

  *Dictionary: Retrieval by Key (Key-Based)

  person = {"name": "Alice", "age": 30}

  print(person["age"])  # Output: 30

#Practical Questions Answers

Q1. Write a code to create a string with your name and print it.

In [ ]:
# Create a string with your name
name = "Vikash khandelwal"

# Print the string
print("My name is:", name)

My name is: Vikash khandelwal

Q2. Write a code to find the length of the string "Hello World".

In [ ]:
# Define the string
text = "Hello World"

# Find and print the length of the string
length = len(text)
print("Length of the string:", length)

Length of the string: 11

Q3. Write a code to slice the first 3 characters from the string Python Programming".

In [ ]:
# Define the string
text = "Python Programming"

# Slice the first 3 characters
sliced_text = text[:3]

# Print the result
print("First 3 characters:", sliced_text)

First 3 characters: Pyt

Q4. Write a code to convert the string "hello" to upercase.

In [ ]:
# Define the string
text = "hello"

# Convert to uppercase
upper_text = text.upper()

# Print the result
print("Uppercase string:", upper_text)

Uppercase string: HELLO

Q5. Write a code to replace the word "apple" with "orange"in the string "I like apple".

In [ ]:
# Original string
text = "I like apple"

# Replace 'apple' with 'orange'
new_text = text.replace("apple", "orange")

# Print the updated string
print("Updated string:", new_text)

Updated string: I like orange

Q6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
# Create a list with numbers 1 to 5
numbers = [1, 2, 3, 4, 5]

# Print the list
print("List of numbers:", numbers)

List of numbers: [1, 2, 3, 4, 5]

Q7. Write a code to append the number 10 to list [1,2,3,4].

In [ ]:
# Original list
numbers = [1, 2, 3, 4]

# Append 10 to the list
numbers.append(10)

# Print the updated list
print("Updated list:", numbers)

Updated list: [1, 2, 3, 4, 10]

Q.8 Write a code to remove the number 3 from the list [1,2,3,4,5].

In [ ]:
# Original list
numbers = [1, 2, 3, 4, 5]

# Remove the number 3
numbers.remove(3)

# Print the updated list
print("Updated list:", numbers)

Updated list: [1, 2, 4, 5]

Q9. Write a code to access the second element in the list ['a','b','c','d'].

In [ ]:
# Define the list
letters = ['a', 'b', 'c', 'd']

# Access the second element (index 1)
second_element = letters[1]

# Print the second element
print("Second element:", second_element)

Second element: b

Q10. Write a code to reverse the list [10,20,30,40,50].

In [ ]:
# Original list
numbers = [10, 20, 30, 40, 50]

# Create a reversed version of the list
reversed_numbers = numbers[::-1]

# Print the reversed list
print("Reversed list:", reversed_numbers)

Reversed list: [50, 40, 30, 20, 10]

Q11. Write a code to create a tuple with the elements 100,200,300 and print it.

In [ ]:
# Create a tuple
my_tuple = (100, 200, 300)

# Print the tuple
print("Tuple:", my_tuple)

Tuple: (100, 200, 300)

Q12. Write a code to access the second -to-last element of the tuple ('red','green','blue','yellow').

In [ ]:
# Define the tuple
colors = ('red', 'green', 'blue', 'yellow')

# Access the second-to-last element
second_to_last = colors[-2]

# Print the result
print("Second-to-last element:", second_to_last)

Second-to-last element: blue

Q13. Write a code to find the minimum number in the tuple (10,20,5,15).

In [ ]:
# Define the tuple
numbers = (10, 20, 5, 15)

# Find the minimum number
min_number = min(numbers)

# Print the result
print("Minimum number:", min_number)

Minimum number: 5

Q14. Write a code to find the index of the element "cat" in the tuple ('dog','cat','rabbit').

In [ ]:
# Define the tuple
animals = ('dog', 'cat', 'rabbit')

# Find the index of "cat"
index_of_cat = animals.index('cat')

# Print the result
print("Index of 'cat':", index_of_cat)

Index of 'cat': 1

Q15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
# Create a tuple with three fruits
fruits = ("apple", "banana", "orange")

# Check if "kiwi" is in the tuple
if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

Q16. Write a code to create a set with the elements 'a','b','c'and print it.

In [1]:
# Create a set
my_set = {'a', 'b', 'c'}

# Print the set
print("Set:", my_set)

Set: {'b', 'c', 'a'}

Q17. Write a code to clear all elements from the set {1,2,3,4,5}.

In [2]:
# Define the set
numbers = {1, 2, 3, 4, 5}

# Clear all elements from the set
numbers.clear()

# Print the empty set
print("Set after clearing:", numbers)

Set after clearing: set()

Q18. Write a code to remove the element 4 from the set {1,2,3,4,}.

In [3]:
# Define the set
numbers = {1, 2, 3, 4}

# Remove the element 4
numbers.remove(4)

# Print the updated set
print("Set after removing 4:", numbers)

Set after removing 4: {1, 2, 3}

Q19. Write a code to find the union of two sets{1,2,3}and {3,4,5}.

In [4]:
# Define the two sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Find the union of the sets
union_set = set1.union(set2)

# Print the result
print("Union of sets:", union_set)

Union of sets: {1, 2, 3, 4, 5}

Q20. Write a code to find the intersection of two sets {1,2,3}and {2,3,4}.

In [5]:
# Define the two sets
set1 = {1, 2, 3}
set2 = {2, 3, 4}

# Find the intersection of the sets
intersection_set = set1.intersection(set2)

# Print the result
print("Intersection of sets:", intersection_set)

Intersection of sets: {2, 3}

Q21. Write a code to create a dictionary with the keys "name" ,"age" and "city",and print it.

In [6]:
# Create the dictionary
person = {
    "name": "Vikash",
    "age": 26,
    "city": "Jaipur"
}

# Print the dictionary
print("Dictionary:", person)

Dictionary: {'name': 'Vikash', 'age': 26, 'city': 'Jaipur'}

Q22. Write a code to add a new key-value pair "country":"USA" to the dictionary {'name':'John','age':'25'}.

In [7]:
# Original dictionary
person = {'name': 'John', 'age': '25'}

# Add new key-value pair
person['country'] = 'USA'

# Print the updated dictionary
print("Updated dictionary:", person)

Updated dictionary: {'name': 'John', 'age': '25', 'country': 'USA'}

Q23. Write a code to access the associated with the key "name"in the dictionary {'name':'alice','age':'30'}.

In [8]:
# Define the dictionary
person = {'name': 'alice', 'age': '30'}

# Access the value associated with the key "name"
name_value = person['name']

# Print the value
print("Name:", name_value)

Name: alice

Q24. Write a code to remove the key "age" from the dictionary {'name':'Bob','age':'22','city':'New york'}.

In [9]:
# Define the dictionary
person = {'name': 'Bob', 'age': '22', 'city': 'New york'}

# Remove the key "age"
person.pop('age')

# Print the updated dictionary
print("Updated dictionary:", person)

Updated dictionary: {'name': 'Bob', 'city': 'New york'}

Q25. Wtite a code to check if the key "city" exists in the dictionary {'name':'alice','city':'Paris'}.

In [10]:
# Define the dictionary
person = {'name': 'alice', 'city': 'Paris'}

# Check if "city" exists as a key
if 'city' in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

Q26. Write a code to create a list,a tuple, and a dictionary,and print them all.

In [11]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Create a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Create a dictionary
my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}

# Print them all
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York'}

Q27. Write a code to create a list of 5 random numbers between 1 and 100,sort it an ascending order,and print the result.(replaced)

In [12]:
import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [1, 3, 55, 91, 96]

Q28. Write a code to create a list with strings and print the element at the thrid index.

In [13]:
# Create a list of strings
words = ["apple", "banana", "cherry", "date", "fig"]

# Print the element at the third index
print("Element at index 3:", words[3])

Element at index 3: date

Q29. Write a code to combine two dictionaries into one and print the result.

In [14]:
# Define two dictionaries
dict1 = {'name': 'Alice', 'age': 25}
dict2 = {'city': 'New York', 'country': 'USA'}

# Combine the dictionaries
combined_dict = {**dict1, **dict2}

# Print the combined dictionary
print("Combined dictionary:", combined_dict)

Combined dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York', 'country': 'USA'}

Q30. Write a code to convert a list of strings into a set.

In [15]:
# Define a list of strings
string_list = ["apple", "banana", "cherry", "apple"]

# Convert the list into a set
string_set = set(string_list)

# Print the set
print("Set:", string_set)

Set: {'banana', 'cherry', 'apple'}